.header {
  background-color: black;
  color: gold;
  font-size: 23px;
  text-align: center;
}

#f-pan {
  height: auto;
  width: 700px;
}

#pizza {
 height: 400px;
 width: 596px;
}

#lasagna {
height: 400px;
width: 596px;
}

#pasta {
  height: 400px;
  width: 596px;
}

.body {
  background-color: honeydew;
  font-family: Arial, "Times New Roman", sans-serif;
}

.steps,
.ingredients {
  color: blue;
}

.steps {
  background-color: rgb(247, 247, 26);
}

.ingredients {
  background-color: greenyellow;
}

.introduction {
  background-color: red;
  color: white;
}

.test {
  color: rgb(6, 248, 6);
}

h2,
h3,
h5 {
  color:black;
}

li a {
  color: black;  
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

